# Python Classes With OOP CRUD Terintegrasi Ke Basis Data MySQL

In [20]:
import mysql.connector

In [21]:
class Database:
    my_db = my_cursor = None
    
    def __init__(self):
        global my_db, my_cursor
        my_db = mysql.connector.connect(
            host = "localhost",
            user = "root",
            password = "",
            database = "travel_tour_agen"
        )
        my_cursor = my_db.cursor()
        
        
    def __del__(self):
        my_db.commit()

In [22]:
db = Database()

# Package Class Agen

In [3]:
#package class agen

class package_class_agen(Database):
    
    
    #create
    def create_package(self, data):
        sql = "INSERT INTO package_class_agen (name_package, duration_package, destination_package) VALUES (%s, %s, %s)"
        
        try:
            my_cursor.execute(sql, data)
            my_db.commit()
            print(my_cursor.rowcount, "catatan di rekam.")
        
        except Exception as e:
            return e
        
        return my_cursor.lastrowid
    
    
    #create many package
    def create_many_package(self, data):
        sql = "INSERT INTO package_class_agen (name_package, duration_package, destination_package) VALUES (%s, %s, %s)"
        
        try:
            my_cursor.executemany(sql, data)
            my_db.commit()
            print(my_cursor.rowcount, "catatan di rekam.")
            
        except Exception as e:
            return e
    
    #read
    def read_package(self, mode = "DESC"):
        sql = "SELECT * FROM package_class_agen ORDER BY id_package {}".format(mode)
        
        try:
            my_cursor.execute(sql)
            result = my_cursor.fetchall()
            
        except Exception as e:
            return e
        
        return result
    
    #update
    def update_package(self, id, data):
        sql = "UPDATE package_class_agen SET name_package = %s, duration_package = %s, destination_package = %s WHERE id_package = {}".format(id)
        val = (data[0], data[1], data[2])
        
        try:
            my_cursor.execute(sql, val)
            my_db.commit()
            print(my_cursor.rowcount, "catatan di perbarui.")
        
        except Exception as e:
            return e
    
    #delete
    def delete_package(self, id):
        sql = "DELETE FROM package_class_agen WHERE id_package = {}".format(id)
        
        try:
            my_cursor.execute(sql)
            my_db.commit()
            print(my_cursor.rowcount, "catatan di hapus.")
            
        except Exception as e:
            return e
        
    #delete tabel 
    def truncate(self):
        sql = "TRUNCATE TABLE package_class_agen"
        
        try:
            my_cursor.excecute(sql)
            my_db.commit()
            
        except Exception as e:
            return e
        
        return True

Create (Menambahkan) Package Class

In [4]:
#create single package

pc = package_class_agen()

data = ("Group Tour", 3, "Dinding Friwen, Kabui Passage, Dermaga Pulau")

pc.create_package(data)

1 catatan di rekam.

2

Create(Menambahkan) Many Package Class

In [5]:
#create and read many package

pc = package_class_agen()

data = [
    ("Together Tour", 4, "Tanah Lot, Bedugul, Pantai Balangan"),
    ("Asian Tour", 7, "Skardu, Dalat, Davao")

]

pc.create_many_package(data)

print(pc.read_package())

2 catatan di rekam.
[(4, 'Asian Tour', 7, 'Skardu, Dalat, Davao'), (3, 'Together Tour', 4, 'Tanah Lot, Bedugul, Pantai Balangan'), (2, 'Group Tour', 3, 'Dinding Friwen, Kabui Passage, Dermaga Pulau'), (1, 'Independent Tour', 1, 'Pantai Trikora, Pulau Penyengat, Danau Biru')]

Update (Memperbarui) Package Class

In [11]:
#update package

pc = package_class_agen()

pc.update_package(3, ("Afrika Tour", 6, "Freedom, Amboseli, Masai Mara"))

1 catatan di perbarui.

Read (Membaca/Menampilkan) Package Class

In [13]:
#read package

pc = package_class_agen()

pc.read_package()

[(4, 'Asian Tour', 7, 'Skardu, Dalat, Davao'),
 (3, 'Afrika Tour', 6, 'Freedom, Amboseli, Masai Mara'),
 (2, 'Group Tour', 3, 'Dinding Friwen, Kabui Passage, Dermaga Pulau'),
 (1, 'Independent Tour', 1, 'Pantai Trikora, Pulau Penyengat, Danau Biru')]

Delete (Menghapus) Package Class

In [14]:
#delete_package

db = Database()
pc = package_class_agen()

pc.delete_package(4)

1 catatan di hapus.

# Tour Guide Agen

In [23]:
#tour guide agen

class tour_guide_agen(Database):
    
    #create
    def create_guide(self, data):
        sql = "INSERT INTO tour_guide_agen (name_guide, phone_number_guide, years_service_guide, id_package) VALUES (%s, %s, %s, %s)"
        
        try:
            my_cursor.execute(sql, data)
            my_db.commit()
            print(my_cursor.rowcount, "catatan di rekam.")
        
        except Exception as e:
            return e
        
        return my_cursor.lastrowid
    
    
    #create many guide
    def create_many_guide(self, data):
        sql = "INSERT INTO tour_guide_agen (name_guide, phone_number_guide, years_service_guide, id_package) VALUES (%s, %s, %s, %s)"
        
        try:
            my_cursor.executemany(sql, data)
            my_db.commit()
            print(my_cursor.rowcount, "catatan di rekam.")
            
        except Exception as e:
            return e
        
    #read
    def read_guide(self, mode = "DESC"):
        sql = "SELECT * FROM tour_guide_agen ORDER BY id_package {}".format(mode)
        
        try:
            my_cursor.execute(sql)
            result = my_cursor.fetchall()
            
        except Exception as e:
            return e
        
        return result
    
    #update
    def update_guide(self, id, data):
        sql = "UPDATE tour_guide_agen SET name_guide = %s, phone_number_guide = %s, years_service_guide = %s, id_package = %s WHERE id_package = {}".format(id)
        val = (data[0], data[1], data[2], data[3])
        
        try:
            my_cursor.execute(sql, val)
            my_db.commit()
            print(my_cursor.rowcount, "catatan di perbarui.")
            
        except Exception as e:
            return e
        
    #delete
    def delete_guide(self, id):
        sql = "DELETE FROM tour_guide_agen WHERE id_package = {}".format(id)
        
        try:
            my_cursor.execute(sql)
            my_db.commit()
            print(my_cursor.rowcount, "catatan di hapus.")
        
        except Exception as e:
            return e

Create (Menambahkan) Tour Guide

In [24]:
#create single guide

gd = tour_guide_agen()

data = ("Nathania Aprilia", "+62778982145", 5, 2)
         
gd.create_guide(data)

1 catatan di rekam.

2

Create (Menambahkan) Many Tour Guide

In [25]:
#create many guide

gd = tour_guide_agen()

data = [
    ("Apriole Cendekia", "+6288371645678", 2, 1),
    ("Florencia Augusta", "+6253416177871", 7, 3)
    
]

gd.create_many_guide(data)
print(gd.read_guide())

2 catatan di rekam.
[(4, 'Florencia Augusta', '+6253416177871', 7, 3), (2, 'Nathania Aprilia', '+62778982145', 5, 2), (1, 'Ayranka Olanza', '+62888987672', 1, 1), (3, 'Apriole Cendekia', '+6288371645678', 2, 1)]

Update (Memperbarui) Tour Guide

In [26]:
#update guide

gd = tour_guide_agen()

gd.update_guide(2, ("Rizkiya Sugita", "+62887651231", 6, 2))

1 catatan di perbarui.

Read (Membaca/Menampilkan) Tour Guide

In [27]:
#read guide

gd = tour_guide_agen()

gd.read_guide()

[(4, 'Florencia Augusta', '+6253416177871', 7, 3),
 (2, 'Rizkiya Sugita', '+62887651231', 6, 2),
 (1, 'Ayranka Olanza', '+62888987672', 1, 1),
 (3, 'Apriole Cendekia', '+6288371645678', 2, 1)]

Delete (Menghapus) Tour Guide

In [28]:
#delete guide

gd = tour_guide_agen()

gd.delete_guide(3)

1 catatan di hapus.

# Travel Customers Agen

In [29]:
#travel customers agen

class travel_customers_agen(Database):
    
    
    #create
    def create_customers(self, data):
        sql = "INSERT INTO travel_customers_agen (name_customers, phone_number_customers, payment_customers, id_package) VALUES (%s, %s, %s, %s)"
        
        try:
            my_cursor.execute(sql, data)
            my_db.commit()
            print(my_cursor.rowcount, "catatan di rekam.")
        
        except Exception as e:
            return e
        
        return my_cursor.lastrowid
    
    
    #create many customers
    def create_many_customers(self, data):
        sql = "INSERT INTO travel_customers_agen (name_customers, phone_number_customers, payment_customers, id_package) VALUES (%s, %s, %s, %s)"
        
        try:
            my_cursor.executemany(sql, data)
            my_db.commit()
            print(my_cursor.rowcount, "catatan di rekam.")
            
        except Exception as e:
            return e
        
    #read
    def read_customers(self, mode = "DESC"):
        sql = "SELECT * FROM travel_customers_agen ORDER BY id_package {}".format(mode)
        
        try:
            my_cursor.execute(sql)
            result = my_cursor.fetchall()
        
        except Exception as e:
            return e
        
        return result
    
    #update
    def update_customers(self, id, data):
        sql = "UPDATE travel_customers_agen SET name_customers = %s, phone_number_customers = %s, payment_customers = %s, id_package = %s WHERE id_package = {}".format(id)
        val = (data[0], data[1], data[2], data[3])
        
        try:
            my_cursor.execute(sql, val)
            my_db.commit()
            print(my_cursor.rowcount, "catatan di perbarui.")
        
        except Exception as e:
            return e
        
    #delete
    def delete_customers(self, id):
        sql = "DELETE FROM travel_customers_agen WHERE id_package = {}".format(id)
        
        try:
            my_cursor.execute(sql)
            my_db.commit()
            print(my_cursor.rowcount, "catatan di hapus.")
            
        except Exception as e:
            return e

Create (Menambahkan) Travel Customers

In [30]:
#create single customers

sc = travel_customers_agen()

data = ("Andini Cantika", "+628890291829", "Cashless", 2)

sc.create_customers(data)

1 catatan di rekam.

2

Create (Menambahkan) Many Travel Customers

In [31]:
#create and read many customers

sc = travel_customers_agen()

data = [
    ("Garindra Reksa", "+6287892018282", "Cashless", 2),
    ("Aswhent Shintia", "+6288902928172", "Cash", 3)
    
]

sc.create_many_customers(data)

print(sc.read_customers())

2 catatan di rekam.
[(4, 'Aswhent Shintia', '+6288902928172', 'Cash', 3), (2, 'Andini Cantika', '+628890291829', 'Cashless', 2), (3, 'Garindra Reksa', '+6287892018282', 'Cashless', 2), (1, 'Kienan Wardani', '+6288098271613', 'Cash', 1)]

Update (Memperbarui) Travel Customers

In [32]:
#update customers

sc = travel_customers_agen()

sc.update_customers(1, ("Hanna Laila", "+6288902928172", "Cashless", 2))

1 catatan di perbarui.

Read (Membaca/Menampilkan) Travel Customers

In [33]:
#read customers

sc = travel_customers_agen()

sc.read_customers()

[(4, 'Aswhent Shintia', '+6288902928172', 'Cash', 3),
 (1, 'Hanna Laila', '+6288902928172', 'Cashless', 2),
 (2, 'Andini Cantika', '+628890291829', 'Cashless', 2),
 (3, 'Garindra Reksa', '+6287892018282', 'Cashless', 2)]

Delete (Menghapus) Travel Customers

In [34]:
#delete customers

sc = travel_customers_agen()

sc.delete_customers(3)

1 catatan di hapus.